/* src/index.css */

/* Garante que a raiz do app ocupe 100% da altura e largura */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

/* Regra de base para evitar sobreposição */
#root {
    display: flex;
}